.lightHeader{
  height: 10vh;
  width: 100vw;
  background-color: #A6B2EC;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
}

.darkHeader{
  height: 10vh;
  width: 100vw;
  background-color: #333456;
  color: #E5E5E5;
  font-size: 18px;
  display: flex;
  flex-direction: row;
}

.name{
  float: left;
  margin: auto 1vw;
}

.siteTitle{
  float: right;
  margin: auto 1vw; 
}

.themeButton{
    width: fit-content;
  height: fit-content;
  /*padding: 5px;
  font-weight: bold; */ 
  color: white;
  /* background-color: #333456;
  border-radius: 10px; */
  margin: auto 1vw;
  float: right;
}