@font-face {
  font-family: 'Syne', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap");
}




.lightHeader{
  height: 10vh;
  width: 100vw;
  /* background-color: #E5EAFA; */
  background-color: #edede9;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: all .2s linear;
}

.darkHeader{
  height: 10vh;
  width: 100vw;
  /* background-color: #333456; */
  /* background-color: #0d1b2a; */
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: all .2s linear;
}


.headerItem{
  float: left;
  margin: auto 1vw;
  cursor: pointer;
}


.iconContainer{
  float: right;
  justify-content: flex-end;
  width: fit-content;
  height: fit-content;
  /* padding: 1%; */
  margin: auto 1vw;
  /* margin-top: 20px; */
  /* padding: auto; */
}

.itemContainer{
    height: 10vh;
    width: 100%;
    /* background-color: ${(props) => props.theme.header};
    color: ${(props) => props.theme.fontColor}; */
    font-size: 20px;
    display: flex;
    /* flex-direction: row;
    justify-content: flex-start; */
    word-wrap: break-word;
    flex-wrap: nowrap;
    transition: all .2s linear;
    border: none;
    box-sizing: border-box;
    padding-bottom: 5px;
    margin: none;
    font-weight: 700;
    position: relative;
}


.hero{
  width: 100vh;
  margin: auto;
  font-weight: 500;
  line-height: 2.5;
  display: block;
  padding: 20%;
 
}


.project1{
  width: 200vw;
  overflow-x: scroll;
}