.lightHeader{
  height: 10vh;
  width: 100vw;
  background-color: #A6B2EC;
  color: black;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.darkHeader{
  height: 10vh;
  width: 100vw;
  background-color: #333456;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name{
  float: left;
  margin: auto 1vw;
}

.siteTitle{
  float: right;
  margin: auto 1vw; 
}

.themeButton{
  width: fit-content;
  height: fit-content;
  /*padding: 5px;
  font-weight: bold; */ 
  color: black;
  /* background-color: #333456;
  border-radius: 10px; */
  margin: auto 4vw;
  float: right;
}

.dayNightButton{
  padding: 0;
border: none;
background: none;

}